@charset "UTF-8";

html,body{
    height: 100%;
    margin: 0;
}

summary {
	display: block;
	outline: none;
	border-bottom: solid 1px #ddd;
}

details {
	overflow: hidden;
}


details[open] form{
	animation: openDetail 800ms ease;
}

@keyframes openDetail {
  0% {
    opacity: 0;
    height: 0;
    height: 1em;
  }
  60%{
  }
  100% {
    opacity: 1;
    height: 10em;
  }
}

form {
	max-width: 900px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	border: double 1px #222;
	height: 10em;
}

canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: block;
	cursor: none;
	background: url('p1.png');
	background-size: contain;
}


.inputFile {
	display: inline-block;
	font-size: 90%;
	padding: 1px 3px;
	color: #000;
	background: #ddd;
	cursor: pointer;
}
.inputFile input {
	display: none;
}